
.card {
    margin: 20px;
    padding: 20px;
    width: 100%;
}


.picture {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    align-items: center;     /* จัดตำแหน่งในแนวตั้ง */
    width: 100%;
    height: 100%;
}

.picture img {
    width: 180px;
    height: 180px;
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    object-fit: cover;   /* ให้รูปภาพไม่ยืดหยุ่น */
}
.user-info {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
}
.username {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    padding : 10px;
    font-weight: bold;
    font-size: 25px;
    
}

.sex-birthda {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    margin : 2px;
    font-weight: bold;
    font-size: 15px;
}

.line {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    align-items: center;     /* จัดตำแหน่งในแนวตั้ง */
    width: 900px;            /* กำหนดความกว้าง */
    height: 3px;             /* กำหนดความสูงเป็น 3px */
    background-color: rgb(193, 198, 202); /* สีพื้นหลัง */
    margin: 0 auto;          /* จัดให้อยู่กึ่งกลางหน้าจอ */
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center; /* จัดปุ่มให้อยู่กึ่งกลางแนวนอน */
    align-items: center;     /* จัดปุ่มให้อยู่กึ่งกลางแนวตั้ง */
    font-weight: bold;
    padding: 10px;
    text-decoration: none;  /* ลบเส้นใต้ */
}

.event {
    display: flex;
    align-items: center;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    margin-top: 20px;
}

.event p {
    font-weight: bold;
    font-size: 18px;
    color: rgb(99, 136, 77); /* เปลี่ยนสีข้อความถ้าต้องการ */
    text-decoration: underline; /* เพิ่มเส้นใต้เมื่อปุ่มถูกคลิก */
}

.cardsEvent {
    display: flex; 
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง (ถ้าจำเป็น) */
}

.smallPicture {
    display: flex;
    justify-content: flex-start; /* จัดไปด้านซ้าย */
    align-items: center;         /* จัดตำแหน่งในแนวตั้ง */
    width: 100%;
    height: 100%;
}

.smallPicture img {
    width: 35px;
    height: 35px;
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    object-fit: cover;   /* ให้รูปภาพไม่ยืดหยุ่น */
    margin-bottom: 10px;
    
}

.usernameCards {
    display: flex;
   justify-content: flex-start; /* จัดไปด้านซ้าย */
   align-items: center;         /* จัดตำแหน่งในแนวตั้ง */
   padding : 15px;
   font-weight: bold;
   font-size: 15px;
}


.lineCard {
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    align-items: center;     /* จัดตำแหน่งในแนวตั้ง */
    width: 250px;            /* กำหนดความกว้าง */
    height: 3px;             /* กำหนดความสูงเป็น 3px */
    background-color: rgb(193, 198, 202); /* สีพื้นหลัง */
    margin: 0 auto;          /* จัดให้อยู่กึ่งกลางหน้าจอ */
    margin-bottom: 10px;

}

.small-card {
    width: 28rem; 
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 90%; }